// Заголовки, общие БЄМ блоки и проче...

$time: 0.3s;
$tr: ease-out;
//========================================================================================================================================================

.breadcrumb {
  padding: rem(40) rem(0) rem(30);

  @media (max-width: $mobile) {
    padding: rem(40) rem(0) rem(25);
  }
  // .breadcrumb__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5);
    align-items: center;

    @media (max-width: $mobile) {
      gap: rem(2);
    }
  }

  // .breadcrumb__container

  &__container {
  }

  // .breadcrumb__item

  &__item {
    font-size: rem(16);
    line-height: 110%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: rem(6);
    color: var(--color-grey);
    transition: all $time $tr 0s;

    @media (max-width: $mobile) {
      font-size: rem(11);
      gap: rem(2);
    }

    &::after {
      content: "";
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      width: rem(12);
      height: rem(12);
      background: var(--color-grey);
      transition: all $time $tr 0s;

      @media (max-width: $mobile) {
        width: rem(9);
        height: rem(9);
      }
    }

    @media (min-width: $tablet) {
      &:hover {
        color: var(--color-whte);

        &::after {
          content: "";
          transform: translate(rem(3), rem(0));
          background: var(--color-whte);
        }
      }
    }

    // .breadcrumb__item-link--active

    &.breadcrumb__item-link--active {
      font-weight: 600;
      color: var(--color-whte);
      &::after {
        display: none;
      }
    }
  }
}

//========================================================================================================================================================

.swiper-arrows {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  pointer-events: none;
  .swiper-arrows__arrow {
    width: rem(48);
    height: rem(48);

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;

    @media (max-width: $mobile) {
      width: rem(32);
      height: rem(32);
    }

    &::before {
      content: "";
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      background: var(--color-grey);
      width: rem(24);
      height: rem(24);

      @media (max-width: $mobile) {
        width: rem(12);
        height: rem(12);
      }
    }
  }
}

//========================================================================================================================================================

.swiper-navigation {
  display: flex;
  align-items: center;
  gap: rem(20);
  .swiper-navigation__progressbar {
    width: 100%;
    height: rem(1);
    background: var(--color-whte);
  }

  .swiper-pagination-progressbar-fill {
    background: var(--color-green);
    height: rem(2);
    width: 100%;
    display: flex;
    transform-origin: left top;
  }
}

//========================================================================================================================================================

.swiper-navigation__arrows {
  display: flex;
  align-items: center;
  gap: rem(20);
  .swiper-navigation__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      mask: var(--icon) center center/contain no-repeat;
      -webkit-mask: var(--icon) center center/contain no-repeat;
      width: rem(40);
      height: rem(20);
      background: rgba(255, 255, 255, 0.3);
      transition: all $time $tr 0s;
    }

    &:hover {
      @media (min-width: $tablet) {
        &::before {
          background: var(--color-green);
        }
      }
    }
  }
}
//========================================================================================================================================================
